{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <h6><i class="fas fa-shopping-cart fa-sm mr-1"></i> My Cart</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    {% if order_details %}
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"><div class="ml-md-4">Price</div></th>
                            <th scope="col">Quantity</th>
                            <th scope="col"><div class="mr-md-3">Total</div></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% else %}
                    <p>Oh no, your cart is empy, go to <a href="{{url_for('shop')}}">Shop</a>.</p>
                    {% endif %}
                    <tbody>
                        {% for order in order_details %}
                        <tr>
                            <td>
                                <a href="#"><img class="img_cart mt-2 mt-md-1" src={{url_for('static', filename='products_pics/' +  order.product.image_product)}}></a>
                                <div class="font-weight-bold">{{ order.product.product_name }}</div>
                            </td>
                            <td><div class="ml-md-4">{{ order.price }}$</div></td>
                            <td>
                                <div class="row text-center justify-content-center">
                                    <div class="col-12 col-md-7">
                                        <form method="POST" action="">
                                            <div class="row text-center justify-content-center">
                                                <div class="col-md-2">
                                                    <button type=submit name="update" value="plus" class="btn btn-sm btn-primary buy_button fa-xs mt-1"><i class="fas fa-plus"></i></button>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="text-center form-control form-control-lg form-control-quantity-cart">{{ order.quantity }}</div>
                                                    <div class="text-center form-cart-mobile">{{ order.quantity }}</div>
                                                    {{ form_update.csrf_token() }}
                                                    {{ form_update.order_details_id(value=order.order_details_id) }}
                                                </div>
                                                <div class="col-md-2">
                                                    <button type=submit name="update" value="minus" class="btn btn-sm btn-primary buy_button fa-xs mt-1"><i class="fas fa-minus"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="price_tag font-weight-bold"><div class="mr-md-3">{{ order.total }}$</div></div>
                            </td>
                            <td>
                                <form method="POST" action="">
                                    {{ form_delete.csrf_token() }}
                                    {{ form_delete.order_details_id(value=order.order_details_id) }}
                                    <button type=submit name="delete" value="delete" class="btn btn-sm btn-danger buy_button fa-xs"><i class="fas fa-times"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if order_details %}
    <div class="col-12 col-md-3">
        <form method="POST" action="" , enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h6><i class="fas fa-folder-plus fa-sm mr-1"></i> Add Product Information</h6>
                </div>
                <div class="card-body">
                    <fieldset class="form-group">
                        <div class="form-row">
                            <div class="col-12 col-md-6">
                                {{ form.shipper_id.label(class="form-control-label") }}
                                {% if form.shipper_id.errors %}
                                {{ form.shipper_id(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.shipper_id.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.shipper_id(class="form-control form-control-choice") }}
                                {% endif %}
                            </div>

                            <div class="col-12 col-md-12 mt-4 text-left">
                                <div class="price_tag font-weight-bold">Total Price : {{ total_user }}$</div>
                            </div>
                            <div class="col-12 col-md-3 mt-3 ml-4">
                                {{ form.submit(class="btn btn-dark submit-product") }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}