{% extends 'layout.html' %}
{% block content %}
<fieldset class="form-group">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="col-12">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                <h6><i class="fas fa-folder-plus fa-sm mr-1"></i> Add Category Information</h6>
                            </div>
                            <div class="card-body">
                                <fieldset class="form-group">
                                    <div class="form-row">
                                        <div class="col-12 col-md-5">
                                            {{ form.category_name.label(class="form-control-label") }}
                                            {% if form.category_name.errors %}
                                            {{ form.category_name(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.category_name.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            {{ form.category_name(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-md-5">
                                            {{ form.category_description.label(class="form-control-label") }}
                                            {% if form.category_description.errors %}
                                            {{ form.category_description(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.category_description.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            {{ form.category_description(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-md-2 mt-4">
                                            {{ form.submit(class="btn btn-dark submit-shipper") }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="col-12 col-md-7">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h6><i class="fas fa-folder fa-sm mr-1"></i> Existing Categories</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elem in category %}
                            <tr>
                                <td>{{ elem.category_name }}</td>
                                <td>{{ elem.category_description }}</td>
                                <td>
                                    <form method="POST" action="">
                                        {{ form_delete.csrf_token() }}
                                        {{ form_delete.category_delete_id(value=elem.category_id) }}
                                        <!--{{ form_delete.delete(class="btn btn-danger") }}-->
                                        <button type=submit name="delete" value="delete" class="btn btn-sm btn-danger buy_button fa-xs"><i class="fas fa-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<br>
<br>
<br>
<br>
{% endblock content %}