<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/fontawesome-5.13.0/css/all.css') }}>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/ico" sizes="16x16">
    {% if title %}
    <title>Amazon - {{ title }}</title>
    {% else %}
    <title>UPS</title>
    {% endif %}
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('shop')}}"><img class="navbar-logo" src="{{ url_for('static', filename='amazon_white.png')}}" alt="logo_main"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{url_for('shop')}}"><i class="fas fa-truck fa-sm"></i> Shop</a>
                    <a class="nav-item nav-link ml-2" href="{{url_for('shipping')}}"><i class="fas fa-shopping-bag fa-sm"></i> Shipping</a>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-tasks ml-2"></i> Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('shippers')}}"><i class="fas fa-plane-departure fa-sm mr-1"></i> Shippers</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('category')}}"><i class="fas fa-columns fa-sm mr-1"></i> Categories</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('product')}}"><i class="fas fa-cube fa-sm mr-1"></i> Products</a>
                        </div>
                        {% endif %}
                </div>
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{url_for('cart')}}"><i class="fas fa-shopping-cart fa-sm"></i> Cart</a>
                    <span class="reminder mt-2"></span><a class="nav-item nav-link" href="{{ url_for('account') }}"><i class="fas fa-user-cog fa-sm"></i> {{ current_user.email }}</a>
                    <a class="nav-item nav-link" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt fa-sm"></i> Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{url_for('login')}}"><i class="fas fa-sign-in-alt fa-sm"></i> Login</a>
                    <a class="nav-item nav-link ml-2" href="{{url_for('register')}}"><i class="fas fa-user-plus fa-sm"></i> Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!--Carousel-->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <picture>
                    <source srcset="{{url_for('static', filename="/carousel_pics/2000x300.jpg")}}" media="(min-width: 1400px)">
                    <source srcset="{{url_for('static', filename="/carousel_pics/1400x300.jpg")}}" media="(min-width: 769px)">
                    <source srcset="{{url_for('static', filename="/carousel_pics/800x300.jpg")}}" media="(min-width: 577px)">
                    <img srcset="{{url_for('static', filename="/carousel_pics/600x300.jpg")}}" alt="responsive image" class="d-block img-fluid mt-5">
                </picture>
                <div class="carousel-caption d-none d-sm-block">
                    <div>
                        <span class="btn btn-dark text-white btn-sm">Learn More</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <picture>
                    <source srcset="{{url_for('static', filename="/carousel_pics/2000x300_2.jpg")}}" media="(min-width: 1400px)">
                    <source srcset="{{url_for('static', filename="/carousel_pics/1400x300_2.jpg")}}" media="(min-width: 769px)">
                    <source srcset="{{url_for('static', filename="/carousel_pics/800x300_2.jpg")}}" media="(min-width: 577px)">
                    <img srcset="{{url_for('static', filename="/carousel_pics/600x300_2.jpg")}}" alt="responsive image" class="d-block img-fluid mt-5">
                </picture>
                <div class="carousel-caption d-none d-sm-block">
                    <div>
                        <span class="btn btn-dark text-white btn-sm">Learn More</span>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Main Content -->
    <div class="container justify-content-center text-center">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-6 mt-2">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row justify-content-center text-center mb-3">
            <div class="col-12 col-md-12 mt-4">
                <!-- Content Templates -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Footer -->
    <div class="container-fluid footer bg-dark fixed-bottom">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-1 text-center mt-3">
                <img class="img-fluid card-img-bottom" src="{{url_for('static', filename='amazon_white.png')}}" alt="amazon_logo">
            </div>
            <div class="col-6 col-md-1 text-center my-1 my-md-3">
                <h6 class="font-weight-light text-center text-left footer_language"><i class="fas fa-globe-americas"></i>  English</h6>
            </div>
            <div class="col-6 col-md-1 text-center my-1 my-md-3">
                <h6 class="font-weight-light text-center text-left footer_language"><i class="fas fa-flag-usa"></i></i>  United States</h6>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <span class="text-white mb-2">Conditions of Use | Privacy Notice | 1996-2020, Amazon.com, Inc.</span>
        </div>
    </div>

    <!-- JS Script Bootstrap Import -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>

