{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center mb-3">
    <div class="col-12 col-md-8">
        <div class="card mb-4">
            <div class="card-header text-white-50">Category / {{ product.category.category_name}}</div>
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-md-4 mt-2">
                    <img class="card-img-top product-img mt-3 ml-3" src={{url_for('static', filename='products_pics/' +  product.image_product)}}>
                    <h5 class="card-title mt-3 ml-4">{{ product.product_name }}</h5>
                </div>
                <div class="col-12 col-md-8 mt-2">
                    <p class="card-text mt-3 mr-5 text-justify">{{ product.product_description }}</p>
                    <p class="card-text price_tag font-weight-bold">{{ product.unit_price }}$</p>
                    <form method="POST" action="">
                        {{ form.csrf_token() }}
                        {{ form.product_id(value=product.product_id) }}

                        {% if form.quantity.errors %}
                        {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.quantity.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.quantity(class="text-center form-control quantity_field form-control-quantity_desc") }}
                        {% endif %}
                            <button type=submit class="btn btn-md btn-dark buy_button mt-3"><i class="fas fa-shopping-cart fa-xs"></i> Buy</button>
                    </form>
                </div>
            </div>             
        </div>
    </div>
</div>
{% endblock content %}