{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <label for="form-row">
                <h5>Reset Password</h5>
            </label>
            <div class="form-row justify-content-center">
                <div class="col-10 col-md-4">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg w-100") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>
</div>
{% endblock content %}