{% extends 'layout.html' %}
{% block content %}

<div class="row" id="line1">
    <div class="col">
        <h5 class="text-center my-4 top-product-title">Our Products</h5>
    </div>
</div>
<div class="row justify-content-center mb-3">
    {% for product in products %}
    <div class="col-10 col-md-3">
        <div class="card mb-4">
            <div class="card-header text-secondary">Category / {{ product.category.category_name }}</div>
            <a href="#"><img class="card-img-top product-img mt-3"  src={{url_for('static', filename='products_pics/' +  product.image_product)}}></a>
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text price_tag font-weight-bold">{{ product.unit_price }}$</p>
                <a href="#" class="btn btn-dark"><i class="fas fa-shopping-cart fa-xs"></i> Add to cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}